.table {
  border: 1px solid gray;
  background-color: lightsteelblue;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-spacing: 8px;
  opacity: 1;
}

tr:nth-child(even) {
  background-color: #e3e9f5;
}

th {
  background-color: rgba(255, 255, 255, 0.287);
  font-weight: bold;
  font-size: 20px;
}

td {
  font-size: 20px;
}

.image {
  max-width: 80%;
  max-height: 100vh;
  opacity: 0.4;
}

h1 {
  color: white;
  font-size: 100px;
}

h2 {
  color: white;
  font-size: 50px;
}

h3 {
  color: white;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

input {
  margin-left: 10px;
  width: 20%;
}
